.sidebar-widget {
  padding: 35px 0 0 0;
}

.widget-title {
  color: #91929d;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 0 0 28px;
}

.widget-list {
  padding: 25px 0 0 0;
}

.widget-list a {
  color: inherit;
  text-decoration: none;
}
