.friend-item {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin: 0 0 18px 0;
  padding: 0 24px 0 28px;
  position: relative;
  justify-content: space-between;
}

.friend-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #003393;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.friend-item:hover::after {
  transition: 0.5s linear;
  opacity: 1;
}

.friend-item:last-child {
  margin: 0;
}

.friend-info {
  display: flex;
  align-items: center;
}

.friend-avatar {
  width: 30px;
  height: 30px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.friend-name {
  padding: 0 0 0 15px;
  font-size: 13px;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-status {
  display: flex;
  align-items: center;
}

.friend-online {
  color: #00f8ea;
  font-size: 24px;
}

.friend-offline {
  color: #91929d;
  font-size: 12px;
}
