.sidebar-friends {
  padding: 25px 0 0 0;
}

.friends-title {
  color: #91929d;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 0 0 28px;
}

.friends-list {
  padding: 25px 0 0 0;
}

.friends-list a {
  color: inherit;
  text-decoration: none;
}
