.sidebar-search {
  position: relative;
}

.sidebar-search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  padding: 0;
  z-index: 2;
  color: #949597;
}

.sidebar-search button:focus {
  outline: 0;
}

.sidebar-search input {
  color: #555657;
  font-size: 14px;
  outline: 0;
  border: 0;
  max-width: 215px;
  width: 100%;
  height: 47px;
  padding: 0 40px;
  border-radius: 15px;
  background-color: #e8f0f4;
}

.sidebar-search input::placeholder {
  color: #949597;
}
